.contact {
  .email-address {
    font-size: 1.5rem;
  }
  .social-media {
    .profile-buttons-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: .5rem;
      a {
        i {
          padding: 1rem;
          border: 1px solid black;
          border-radius: 50%;
          transition: all .15s;
          &:hover {
            background-color: black;
            color: white;
          }
          &:focus {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
