.contact {
  .email-address {
    text-align: center;
  }
  .social-media {
    .profile-buttons-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
