.navbar {
  padding: $navbar-padding;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
  position: fixed;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  background-color: $primary-color-dark;
  .menu-button-container {
    display: inline-flex;
    flex-direction: column;
    .burger-symbol {
      width: $burger-symbol-height;
      height: $burger-symbol-height;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      span {
        background-color: white;
        width: 100%;
        height: 0.125em;
        transition: transform .3s, opacity .3s;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .hamburger {
      display: inline-flex;
      @media (min-width: $small-device) {
        display: none;
      }
    }
    .burger-shower {
      display: none;
      &:checked ~ .hamburger{
        .burger-symbol {
          justify-content: center;
          .burger-span-top {
            transform: translateY(100%) rotate(45deg);
          }
          .burger-span-middle {
            opacity: 0;
          }
          .burger-span-bottom {
            transform: translateY(-100%) rotate(-45deg);
          }
        }
      }
      &:checked ~ .burger-menu {
        display: block;
        left: 0;
      }
    }
    .burger-menu {
      @media (min-width: $small-device) {
        position: relative;
        display: inline-flex;
        left: 0;
        top: 0;
        background-color: inherit;
      }
       background-color: $accent-color;
       position: absolute;
       top: $burger-symbol-height*3;
       left: -150vw;
       li {
         @media (min-width: $small-device) {
           padding: 0 $navbar-padding;
           font-size: 1.25rem;
           color: white;
         }
         list-style: none;
         padding: $burger-symbol-height/2 $navbar-padding;
         a {
           color: $primary-text-color;
           &:hover {
             color: $secondary-text-color;
           }
         }
      }
    }
  }
  .home-button-container {
    @media (min-width: $small-device) {
      font-size: 1.25rem;
    }
    line-height: 100%;
    font-size: $burger-symbol-height;
    a {
      color: white;
      display: inline;
      border: none;
    }
  }
}
