@import "variables";
@import "navbar";
$body-color: blue;

body {
  color: $body-color;
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Helvetica","Arial",sans-serif;
}

.welcome {
  width: 100%;
  background-color: green;
  .portrait-container {
    width: 100%;
    background-color: blue;
    .portrait {
      max-width: 100%;
      display: block;
    }
  }
  .name {
    background-color: red;
  }
}
