.portrait {
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $navbar-padding;
    background-color: $primary-color;
    span {
      white-space: pre-line;
      display: inline-block;
    }
  }
  .my-face {
    margin-top: 3*$burger-symbol-height;
    max-width: 100%;
  }
}

@media (min-width: $small-device) {
  .portrait {
    .grid-wrapper {
      grid-column-gap: 0;
      img {
        grid-column: col-start 1 / span 6;
      }
      .text-container {
        grid-column: col-start 7 / span 6;
        margin-top: 3*$burger-symbol-height;
      }
    }
  }
}
