$navbar-height: 3em;
$navbar-padding-left: 1em;
$navbar-padding-right: 1em;
$navbar-break-point: 500px;
$portfolio-modal-burger-size: 1.5rem;
$background-color-section-even: green;
$background-color-section-odd: red;
