.welcome {
  background-color: $primary-color;
  position: relative;
  margin-top: 3em;
  width: 100%;
  .image-container {
    width: 100%;
    background-color: blue;
    .portrait {
      max-width: 100%;
      display: block;
    }
  }
  .text-container {
    .description {
      span {
        white-space: pre-line;
        display: inline-block;
        color: $primary-text-color;
      }
    }
    h1 {
      color: $primary-text-color;
    }
  }
}
